openapi: 3.0.1
info:
  title: Zephyr Essential Legacy REST API - Test
  version: 1.0.0
servers:
  - url: https://prod-api.zephyr4jiracloud.com/connect
tags:
  - name: Attachment
    description: Attachment Resource
  - name: Chart
    description: Chart Resource
  - name: Config
    description: Config Resource
  - name: Cycle
    description: Cycle Resource
  - name: Execution
    description: Execution Resource
  - name: Folder
    description: Folder Resource
  - name: Report
    description: Report Resource
  - name: JobProgress
    description: JobProgress Resource
  - name: License
    description: License Resource
  - name: ServerInfo
    description: ServerInfo Resource
  - name: StepResult
    description: StepResult Resource
  - name: TestStep
    description: TestStep Resource
  - name: Traceability
    description: Traceability Resource
  - name: ZQL
    description: ZQL Resource
  - name: ZQLFilter
    description: ZQLFilter Resource
paths:
  /public/rest/api/1.0/execution:
    post:
      tags:
        - Execution
      summary: Create Execution
      description: >-
        Creates an execution from a JSON representation. An execution can be
        assigned to a user using the assigneeType. assigneeType can be
        currentUser/assignee 
         <table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td><td><strong>Required</strong></td> </tr> <tr> <td>status</td> <td>Object</td> <td>{&quot;id&quot;:1}</td> </tr> <tr> <td>id</td> <td>String</td> <td>0001456664462103-5a6ee13a3f6b-0001</td> <td>Y</td></tr> <tr> <td>projectId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> <tr> <td>issueId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> <tr> <td>cycleId</td> <td>String</td> <td>0001456664262308-5a6ee13a3f6b-0001</td> </tr> <tr> <td>versionId</td> <td>Integer</td> <td>-1</td> <td>Y</td></tr> <tr> <td>assigneeType</td> <td>String</td> <td>currentUser/assignee</td> <td>N</td></tr><tr> <td>assignee</td> <td>String</td> <td>assigneeName (if assigneeType is assignee)</td> <td>N</td></tr> </tbody></table>
      parameters:
        - name: request
          in: query
          description: '{"status":{"id":1},"id":"0001456664462103-5a6ee13a3f6b-0001","projectId":10000,"issueId":10000,"cycleId":"0001456664262308-5a6ee13a3f6b-0001","versionId":-1,,"assigneeType":"assignee","assignee":"jiraUserKey"}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"execution":{"id":"0001456664462103-5a6ee13a3f6b-0001","issueId":10000,"versionId":-1,"projectId":10000,"cycleId":"0001456664262308-5a6ee13a3f6b-0001","orderId":1,"executedBy":"admin","executedOn":"02-28-2016
            05:03:57","modifiedBy":"admin","createdBy":"admin","status":{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},"cycleName":"aaaa","defects":[],"stepDefects":[],"executionDefectCount":0,"stepDefectCount":0,"totalDefectCount":0,"tenantKey":"amlyYTphN2VkOTUxZi1lZjg5LTQ0ZDktODJlZi1mMjM4YjRkY2FiN2I=","creationDate":"02-28-2016
            05:01:02","issueIndex":10000,"projectCycleVersionIndex":"10000_0001456664262308-5a6ee13a3f6b-0001_-1","executionStatusIndex":1,"projectIssueCycleVersionIndex":"10000_10000_0001456664262308-5a6ee13a3f6b-0001_-1"},"issueKey":"TEST-1","issueLabel":"","component":"","issueSummary":"AAA","projectName":"Test","versionName":"Unscheduled","priority":"Medium","executedByDisplayName":{"defined":true,"empty":false,"orNull":"admin"},"testStepBeans":null,"defectsAsString":"","projectKey":"TEST"}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/execution/statuses:
    get:
      tags:
        - Execution
      summary: 'Get execution statuses '
      description: ' Get all execution statuses '
      parameters:
        - name: response
          in: query
          description: >-
            [{"name":"UNEXECUTED","id":-1,"description":"The test has not yet
            been
            executed.","color":"#A0A0A0","type":0},{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},{"name":"FAIL","id":2,"description":"Test
            was executed and
            failed.","color":"#CC3300","type":0},{"name":"WIP","id":3,"description":"Test
            execution is a
            work-in-progress.","color":"#F2B000","type":0},{"name":"BLOCKED","id":4,"description":"The
            test execution of this test was blocked for some
            reason.","color":"#6693B0","type":0}]
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/execution/{executionId}:
    get:
      tags:
        - Execution
      summary: 'Get Execution '
      description: Retrieves Execution and ExecutionStatus by ExecutionId
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: issueId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: executionId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"execution":{"execution":{"id":"0001456664462103-5a6ee13a3f6b-0001","issueId":10000,"versionId":-1,"projectId":10000,"cycleId":"0001456664262308-5a6ee13a3f6b-0001","orderId":1,"executedBy":"admin","executedOn":"02-28-2016
            05:03:57","modifiedBy":"admin","createdBy":"admin","status":{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},"cycleName":"aaaa","defects":[{"id":10001,"key":"TEST-2","summary":"BBB","status":{"self":"http://192.168.1.68:2990/jira/rest/api/2/status/10000","name":"To
            Do","id":10000,"description":"","iconUrl":"http://192.168.1.68:2990/jira/images/icons/status_generic.gif"}}],"stepDefects":[],"executionDefectCount":1,"stepDefectCount":0,"totalDefectCount":1,"tenantKey":"amlyYTphN2VkOTUxZi1lZjg5LTQ0ZDktODJlZi1mMjM4YjRkY2FiN2I=","creationDate":"02-28-2016
            05:01:02","issueIndex":10000,"projectCycleVersionIndex":"10000_0001456664262308-5a6ee13a3f6b-0001_-1","executionStatusIndex":1,"projectIssueCycleVersionIndex":"10000_10000_0001456664262308-5a6ee13a3f6b-0001_-1"},"issueKey":"TEST-1","issueLabel":"","component":"","issueSummary":"AAA","projectName":"Test","versionName":"Unscheduled","priority":"Medium","executedByDisplayName":{"defined":true,"empty":false,"orNull":"admin"},"testStepBeans":null,"defectsAsString":"","projectKey":"TEST"},"executionStatus":{"-1":{"name":"UNEXECUTED","id":-1,"description":"The
            test has not yet been
            executed.","color":"#A0A0A0","type":0},"1":{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},"2":{"name":"FAIL","id":2,"description":"Test
            was executed and
            failed.","color":"#CC3300","type":0},"3":{"name":"WIP","id":3,"description":"Test
            execution is a
            work-in-progress.","color":"#F2B000","type":0},"4":{"name":"BLOCKED","id":4,"description":"The
            test execution of this test was blocked for some
            reason.","color":"#6693B0","type":0}}}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      tags:
        - Execution
      summary: Update Execution
      description: >-
        Updates the specified execution from a JSON representation. This API can
        do the following updates: 
          <ol><li>Assign Execution to a user using the assigneeType field. assigneeType can be currentUser/assignee. In order to change an assignee, one will have to pass in the changeAssignee flag </li> <li>Associate defects to an execution. </li> <li>Update comment for the execution.</li></ol> 
         <table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>status</td> <td>Object</td> <td>{&quot;id&quot;:1}</td> </tr> <tr> <td>id</td> <td>String</td> <td>0001456664462103-5a6ee13a3f6b-0001</td> <td>N</td></tr> <tr> <td>projectId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> <tr> <td>issueId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> <tr> <td>cycleId</td> <td>String</td> <td>0001456664262308-5a6ee13a3f6b-0001</td> <td>Y</td></tr> <tr> <td>versionId</td> <td>Integer</td> <td>-1</td> <td>Y</td></tr> </tbody></table>
      parameters:
        - name: executionId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: request
          in: query
          description: >-
            {"status":{"id":1},"id":"0001456664462103-5a6ee13a3f6b-0001","projectId":10000,"issueId":10000,"cycleId":"0001456664262308-5a6ee13a3f6b-0001","versionId":-1,"comment":"Comment
            for
            execution","defects":"["IZ-1","IZ-2"]","assigneeType":"currentUser/assignee","assignee":"userKey"}
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"execution":{"id":"0001456664462103-5a6ee13a3f6b-0001","issueId":10000,"versionId":-1,"projectId":10000,"cycleId":"0001456664262308-5a6ee13a3f6b-0001","orderId":1,"executedBy":"admin","executedOn":"02-28-2016
            05:03:57","modifiedBy":"admin","createdBy":"admin","status":{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},"cycleName":"aaaa","defects":[],"stepDefects":[],"executionDefectCount":0,"stepDefectCount":0,"totalDefectCount":0,"tenantKey":"amlyYTphN2VkOTUxZi1lZjg5LTQ0ZDktODJlZi1mMjM4YjRkY2FiN2I=","creationDate":"02-28-2016
            05:01:02","issueIndex":10000,"projectCycleVersionIndex":"10000_0001456664262308-5a6ee13a3f6b-0001_-1","executionStatusIndex":1,"projectIssueCycleVersionIndex":"10000_10000_0001456664262308-5a6ee13a3f6b-0001_-1"},"issueKey":"TEST-1","issueLabel":"","component":"","issueSummary":"AAA","projectName":"Test","versionName":"Unscheduled","priority":"Medium","executedByDisplayName":{"defined":true,"empty":false,"orNull":"admin"},"testStepBeans":null,"defectsAsString":"","projectKey":"TEST"}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/execution/:executionId:
    delete:
      tags:
        - Execution
      summary: 'Delete Execution '
      description: |-
        Delete an execution. 
         Deleting an execution will also delete the associated attachments/stepresults and will remove the defect remote links.
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executions:
    get:
      tags:
        - Execution
      summary: 'Get List of Executions '
      description: |-
        Retrieves execution(s) based on the passed in parameters. 
         Executions are fetched in a paginated fashion in a batch of 50. Users can use the offset and totalCount parameters to make a paginated call to retrieve all executions.
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: issueId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: size
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sortColumn
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sortOrder
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"execution":{"execution":{"id":"0001456664462103-5a6ee13a3f6b-0001","issueId":10000,"versionId":-1,"projectId":10000,"cycleId":"0001456664262308-5a6ee13a3f6b-0001","orderId":1,"executedBy":"admin","executedOn":"02-28-2016
            05:03:57","modifiedBy":"admin","createdBy":"admin","status":{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},"cycleName":"aaaa","defects":[{"id":10001,"key":"TEST-2","summary":"BBB","status":{"self":"http://192.168.1.68:2990/jira/rest/api/2/status/10000","name":"To
            Do","id":10000,"description":"","iconUrl":"http://192.168.1.68:2990/jira/images/icons/status_generic.gif"}}],"stepDefects":[],"executionDefectCount":1,"stepDefectCount":0,"totalDefectCount":1,"tenantKey":"amlyYTphN2VkOTUxZi1lZjg5LTQ0ZDktODJlZi1mMjM4YjRkY2FiN2I=","creationDate":"02-28-2016
            05:01:02","issueIndex":10000,"projectCycleVersionIndex":"10000_0001456664262308-5a6ee13a3f6b-0001_-1","executionStatusIndex":1,"projectIssueCycleVersionIndex":"10000_10000_0001456664262308-5a6ee13a3f6b-0001_-1"},"issueKey":"TEST-1","issueLabel":"","component":"","issueSummary":"AAA","projectName":"Test","versionName":"Unscheduled","priority":"Medium","executedByDisplayName":{"defined":true,"empty":false,"orNull":"admin"},"testStepBeans":null,"defectsAsString":"","projectKey":"TEST"},"executionStatus":{"-1":{"name":"UNEXECUTED","id":-1,"description":"The
            test has not yet been
            executed.","color":"#A0A0A0","type":0},"1":{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},"2":{"name":"FAIL","id":2,"description":"Test
            was executed and
            failed.","color":"#CC3300","type":0},"3":{"name":"WIP","id":3,"description":"Test
            execution is a
            work-in-progress.","color":"#F2B000","type":0},"4":{"name":"BLOCKED","id":4,"description":"The
            test execution of this test was blocked for some
            reason.","color":"#6693B0","type":0}}}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      tags:
        - Execution
      summary: Update Executions in Bulk
      description: |-
        Updates all the execution(s) that fits in the search criteria 
         <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001462834520641-242ac112b-0001&quot;,&quot;0001462834520819-242ac112b-0001&quot;,&quot;0001462834521014-242ac112b-0001&quot;]</td> </tr> <tr> <td>status</td> <td>Integer</td> <td>1</td> </tr> <tr> <td>clearDefectMappingFlag</td> <td>Boolean</td> <td>false</td> </tr> <tr> <td>testStepStatusChangeFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>stepStatus</td> <td>Integer</td> <td>-1</td> </tr> </tbody></table>
      parameters:
        - name: request
          in: query
          description: '{"executions":["0001462834520641-242ac112b-0001","0001462834520819-242ac112b-0001","0001462834521014-242ac112b-0001"],"status":1,"clearDefectMappingFlag":false,"testStepStatusChangeFlag":true,"stepStatus":-1}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"timeTaken":"0 min, 0
            sec","stepMessage":"","summaryMessage":"","errorMessage":"","progress":1.0,"message":"{\"success\":\"0001462834520641-242ac112b-0001,0001462834520819-242ac112b-0001,0001462834521014-242ac112b-0001\",\"error\":\"\"}","stepLabel":"","stepMessages":[]}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executions/search/cycle/{cycleId}:
    get:
      tags:
        - Execution
      summary: 'Get List of Executions '
      description: |-
        Retrieves execution(s) by CycleId. 
         Executions are fetched in a paginated fashion in a batch of 50. Users can use the offset and totalCount parameters to make a paginated call to retrieve all executions. 
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: cycleId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: versionId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: action
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sortBy
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: sortOrder
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: size
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: expand
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >
            {"searchObjectList":[],"totalCount":0,"currentOffset":1,"executionStatus":{"-1":{"name":"UNEXECUTED","id":-1,"description":"The
            test has not yet been
            executed.","color":"#A0A0A0","type":0},"1":{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},"2":{"name":"FAIL","id":2,"description":"Test
            was executed and
            failed.","color":"#CC3300","type":0},"3":{"name":"WIP","id":3,"description":"Test
            execution is a
            work-in-progress.","color":"#F2B000","type":0},"4":{"name":"BLOCKED","id":4,"description":"The
            test execution of this test was blocked for some
            reason.","color":"#6693B0","type":0}},"stepExecutionStatus":null}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executions/add/cycle/{cycleId}:
    post:
      tags:
        - Execution
      summary: 'Add Tests to Cycle '
      description: >-
        Adds Tests(s) to a Cycle. Users can assign all executions to an
        individual while adding test to cycle.Users can add tests to cycle by
        following options. <ol><li>Individually by passing array of issueKeys
        (method passed in the request should be 1).</li><li>By JQL Search filter
        (method passed in the request should be 2).</li><li>3. From Another
        Cycle using various filters (method passed in the request should be 3).
        For e.g. filters test based on
        fromVersionId/fromCycleId/priorities/statuses 
        {"versionId":11300,"fromVersionId":"11300","fromCycleId":"0001481179874128-242ac112-0001","priorities":"1","statuses":"4","components":"","labels":"","hasDefects":false,"projectId":11300,"method":"3","assigneeType":"currentUser"}</li></ol>
         <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>issues</td> <td>String Array</td> <td>[&quot;TEST-1&quot;]</td> </tr> <tr> <td>versionId</td> <td>Integer</td> <td>-1</td> </tr> <tr> <td>projectId</td> <td>Integer</td> <td>10000</td> </tr> <tr> <td>method</td> <td>String</td> <td>&quot;1&quot;</td> </tr> </tbody></table>
      parameters:
        - name: cycleId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: request
          in: query
          description: >-
            {"issues":["TEST-1"],"versionId":-1,"projectId":10000,"method":"1 or
            2 or 3", "folderId":"-1"}
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"timeTaken":"0 min, 0
            sec","stepMessage":null,"summaryMessage":null,"progress":1.0,"message":"{\"success\":[\"<a
            target='_parent'
            href='http://192.168.1.68:2990/jira/browse/TEST-1'>TEST-1</a>\"]}","stepMessages":[]}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executions/export:
    post:
      tags:
        - Execution
      summary: 'Export Executions '
      description: >-
        Exports the execution(s) based on the ZQL and the executions selected.
        It is mandatory to send the ZQL with the request. This API returns a
        jobprogressTicket which should be used for making the call to
        /public/rest/api/1.0/jobprogress/:jobProgressTicket. 
         Once the request is processed, the jobProgress will populate the summaryMessage field with the fileName which should than be passed in to /public/rest/api/1.0/cycle/export/download/:fileName to download the file 
         <table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td><td><strong>Required</strong></td> </tr> <tr> <td>exportType</td> <td>String</td> <td>xml/html/csv</td><td>Y</td> </tr><tr> <td>expand</td> <td>String</td> <td>teststeps</td><td>N</td></tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001456662092010-5a6ee13a3f6b-0001&quot;]</td><td>Y</td> </tr> <tr> <td>startIndex</td> <td>Integer</td> <td>0</td> <td>N</td></tr> <tr> <td>maxAllowed</td> <td>Boolean</td> <td>true</td><td>N</td> </tr> <tr> <td>zqlQuery</td> <td>String</td> <td>&quot;&quot;</td> <td>Y</td></tr> </tbody></table>
      parameters:
        - name: request
          in: query
          description: '{"exportType":"xml","expand":"teststeps","executions":["0001456662092010-5a6ee13a3f6b-0001"],"startIndex":0,"maxAllowed":true,"zqlQuery":"project=TST"}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: 0001456663770473-5a6ee13a3f6b-0001
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executions/export/download/:fileName:
    get:
      tags:
        - Execution
      summary: Export execution download
      description: Download file with Execution data.
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executions/search/sprint/{sprintId}/issues:
    post:
      tags:
        - Execution
      summary: Get Execution Summary of the Issues by Sprint
      description: >-
        Retrieves the execution summary of the issue(s) in the sprint of
        sprintId
      parameters:
        - name: sprintId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
        - name: request
          in: query
          description: '{"issueIdOrKeys":"12800,13821"}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"successful":{"13821":{"totalExecutions":10,"action":"collapse","totalExecuted":8,"totalOpenDefectCount":1,"executionSummaries":[{"count":2,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The
            test has not yet been
            executed.","executionStatusColor":"#A0A0A0"},{"count":1,"executionStatusKey":4,"executionStatusName":"BLOCKED","executionStatusDescription":"The
            test execution of this test was blocked for some
            reason.","executionStatusColor":"#6693B0"},{"count":1,"executionStatusKey":20,"executionStatusName":"ASSIGNED","executionStatusDescription":"","executionStatusColor":"#15BD31"},{"count":2,"executionStatusKey":22,"executionStatusName":"PENDING","executionStatusDescription":"","executionStatusColor":"#11494C"},{"count":2,"executionStatusKey":7,"executionStatusName":"VERIFIED","executionStatusDescription":"","executionStatusColor":"#C41440"},{"count":1,"executionStatusKey":23,"executionStatusName":"WIP","executionStatusDescription":"","executionStatusColor":"#F70A4E"},{"count":1,"executionStatusKey":15,"executionStatusName":"LINKED","executionStatusDescription":"","executionStatusColor":"#01FD0C"}],"totalDefectCount":3}}}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executions/search/issue/{issueIdOrKey}:
    get:
      tags:
        - Execution
      summary: Get List of Linked Executions To Issue
      description: Gets execution(s) of the linked tests of the isuue
      parameters:
        - name: issueIdOrKey
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: offset
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: maxRecords
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: expand
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: action
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"totalExecutionCount":10,"currentOffset":1,"executionStatus":[{"name":"UNEXECUTED","id":-1,"description":"The
            test has not yet been
            executed.","color":"#A0A0A0","type":0},{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},{"name":"FAIL","id":2,"description":"Test
            was executed and
            failed.","color":"#CC3300","type":0},{"name":"WIP","id":3,"description":"Test
            execution is a
            work-in-progress.","color":"#EEAA23","type":0},{"name":"BLOCKED","id":4,"description":"The
            test execution of this test was blocked for some
            reason.","color":"#6693B0","type":0}],"stepExecutionStatus":[{"name":"UNEXECUTED","id":-1,"description":"The
            test has not yet been
            executed.","color":"#A0A0A0","type":0},{"name":"FAIL","id":2,"description":"Test
            was executed and
            failed.","color":"#E4230D","type":0}],"totalCount":1,"searchObjectList":[{"warningMessage":null,"originMessage":null,"execution":{"id":"0001481178939686-242ac112-0001","issueId":12800,"versionId":-1,"projectId":11300,"cycleId":"-1","orderId":1,"executedBy":"admin","executedOn":"12-08-2016
            12:40:16","modifiedBy":"admin","createdBy":"admin","status":{"name":"!@#$%^&","id":7,"description":"","color":"#C41440","type":1},"cycleName":"Ad
            hoc","defects":[{"id":13098,"key":"DAT-7","summary":"bgh","status":{"self":"https://demo.atlassian.net/rest/api/2/status/10001","name":"Done","id":10001,"description":"","iconUrl":"https://demo.atlassian.net/"},"resolution":{"self":"https://demo.atlassian.net/rest/api/2/resolution/10000","name":"Done","id":10000,"description":"Work
            has been completed on this
            issue."}}],"stepDefects":[],"executionDefectCount":1,"stepDefectCount":0,"totalDefectCount":1,"creationDate":"12-08-2016
            12:05:39","issueKey":"DAT-1","issueLabel":"","component":null,"issueSummary":"ghty","issueDescription":"","projectName":"datas","versionName":"Unscheduled","priority":"Medium","executedByDisplayName":{"defined":true,"orNull":"admin
            [Administrator]","empty":false},"assigneeType":null,"assignedToDisplayName":null,"testStepBeans":null,"defectsAsString":"","projectKey":"DAT"}}]}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/2.0/executions/search/cycle/{cycleId}:
    get:
      tags:
        - Execution
      summary: 'Get List of Executions '
      description: |-
        Retrieves execution(s) by CycleId. 
         Executions are fetched in a paginated fashion in a batch of 50. Users can use the offset and totalCount parameters to make a paginated call to retrieve all executions. 
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: cycleId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: versionId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: action
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sortBy
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: sortOrder
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: size
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: expand
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >
            {"searchObjectList":[],"totalCount":0,"currentOffset":1,"executionStatus":{"-1":{"name":"UNEXECUTED","id":-1,"description":"The
            test has not yet been
            executed.","color":"#A0A0A0","type":0},"1":{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},"2":{"name":"FAIL","id":2,"description":"Test
            was executed and
            failed.","color":"#CC3300","type":0},"3":{"name":"WIP","id":3,"description":"Test
            execution is a
            work-in-progress.","color":"#F2B000","type":0},"4":{"name":"BLOCKED","id":4,"description":"The
            test execution of this test was blocked for some
            reason.","color":"#6693B0","type":0}},"stepExecutionStatus":null}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executions/search:
    post:
      tags:
        - Execution
      summary: 'Get List of Executions '
      description: >-
        Retrieves the execution based on the ZQL. The response of this API is
        paginated. It will return a max of 50 executions and  will also return
        the totalCount of executions that ZQL returns, so that one could change
        the offset accordingly and make paginated calls to this API. 
         <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>maxRecords</td> <td>Integer</td> <td>20</td> </tr> <tr> <td>offset</td> <td>Integer</td> <td>0</td> </tr> <tr> <td>zqlQuery</td> <td>String</td> <td>field = \&quot;value\&quot;</td> </tr> </tbody></table>
      parameters:
        - name: executionId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: request
          in: query
          description: '{"maxRecords":20,"offset":0,"zqlQuery":"field = "value"}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"searchObjectList":[],"totalCount":0,"currentOffset":1,"executionStatus":{"-1":{"name":"UNEXECUTED","id":-1,"description":"The
            test has not yet been
            executed.","color":"#A0A0A0","type":0},"1":{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},"2":{"name":"FAIL","id":2,"description":"Test
            was executed and
            failed.","color":"#CC3300","type":0},"3":{"name":"WIP","id":3,"description":"Test
            execution is a
            work-in-progress.","color":"#F2B000","type":0},"4":{"name":"BLOCKED","id":4,"description":"The
            test execution of this test was blocked for some
            reason.","color":"#6693B0","type":0}},"stepExecutionStatus":{"-1":{"name":"UNEXECUTED","id":-1,"description":"The
            test has not yet been
            executed.","color":"#A0A0A0","type":0},"1":{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},"2":{"name":"FAIL","id":2,"description":"Test
            was executed and
            failed.","color":"#CC3300","type":0},"3":{"name":"WIP","id":3,"description":"Test
            execution is a
            work-in-progress.","color":"#F2B000","type":0},"4":{"name":"BLOCKED","id":4,"description":"The
            test execution of this test was blocked for some
            reason.","color":"#6693B0","type":0}}}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executionsAutomation:
    post:
      tags:
        - Execution
      summary: Update Executions in Bulk
      description: |-
        Updates all the execution(s) that fits in the search criteria 
         <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001462834520641-242ac112b-0001&quot;,&quot;0001462834520819-242ac112b-0001&quot;,&quot;0001462834521014-242ac112b-0001&quot;]</td> </tr> <tr> <td>status</td> <td>Integer</td> <td>1</td> </tr> <tr> <td>clearDefectMappingFlag</td> <td>Boolean</td> <td>false</td> </tr> <tr> <td>testStepStatusChangeFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>stepStatus</td> <td>Integer</td> <td>-1</td> </tr> </tbody></table>
      parameters:
        - name: request
          in: query
          description: '{"executions":["0001462834520641-242ac112b-0001","0001462834520819-242ac112b-0001","0001462834521014-242ac112b-0001"],"status":1,"clearDefectMappingFlag":false,"testStepStatusChangeFlag":true,"stepStatus":-1}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"timeTaken":"0 min, 0
            sec","stepMessage":"","summaryMessage":"","errorMessage":"","progress":1.0,"message":"{\"success\":\"0001462834520641-242ac112b-0001,0001462834520819-242ac112b-0001,0001462834521014-242ac112b-0001\",\"error\":\"\"}","stepLabel":"","stepMessages":[]}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executions/bulkAssign:
    post:
      tags:
        - Execution
      summary: Assign Bulk Executions
      description: >-
        assigns all the execution(s) with the assignee type that fits in the
        search criteria 
         <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001462834520641-242ac112b-0001&quot;,&quot;0001462834520819-242ac112b-0001&quot;,&quot;0001462834521014-242ac112b-0001&quot;]</td> </tr> <tr> <td>assigneeType</td> <td>String</td> <td>currentUser/assignee</td> </tr> <tr> <td>assignee</td> <td>String</td> <td>jiraUserKey</td> </tr></tbody></table>
      parameters:
        - name: request
          in: query
          description: '{"executions":["0001462834520641-242ac112b-0001","0001462834520819-242ac112b-0001","0001462834521014-242ac112b-0001"],"assigneeType":"assignee","assignee":"jiraUserKey"}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"timeTaken":"0 min, 0
            sec","stepMessage":"","summaryMessage":"","errorMessage":"","progress":1.0,"message":"{\"success\":\"0001462834520641-242ac112b-0001,0001462834520819-242ac112b-0001,0001462834521014-242ac112b-0001\",\"error\":\"\"}","stepLabel":"","stepMessages":[]}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executions/bulkAssignForATOM:
    post:
      tags:
        - Execution
      summary: Assign Bulk Executions For ATOM
      description: >-
        assigns all the execution(s) with the assignee type that fits in the
        search criteria 
         <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001462834520641-242ac112b-0001&quot;,&quot;0001462834520819-242ac112b-0001&quot;,&quot;0001462834521014-242ac112b-0001&quot;]</td> </tr> <tr> <td>assigneeType</td> <td>String</td> <td>currentUser/assignee</td> </tr> <tr> <td>assignee</td> <td>String</td> <td>jiraUserKey</td> </tr></tbody></table>
      parameters:
        - name: request
          in: query
          description: '{"executions":["0001462834520641-242ac112b-0001","0001462834520819-242ac112b-0001","0001462834521014-242ac112b-0001"],"assigneeType":"assignee","assignee":"jiraUserKey"}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"timeTaken":"0 min, 0
            sec","stepMessage":"","summaryMessage":"","errorMessage":"","progress":1.0,"message":"{\"success\":\"0001462834520641-242ac112b-0001,0001462834520819-242ac112b-0001,0001462834521014-242ac112b-0001\",\"error\":\"\"}","stepLabel":"","stepMessages":[]}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executions/delete:
    post:
      tags:
        - Execution
      summary: Delete Executions in Bulk
      description: |-
        Deletes all the execution(s) that fits in the search criteria 
         <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001462834520819-242ac112b-0001&quot;,&quot;0001462834521014-242ac112b-0001&quot;]</td> </tr> </tbody></table>
      parameters:
        - name: request
          in: query
          description: '{"executions":["0001462834520819-242ac112b-0001","0001462834521014-242ac112b-0001"]}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"timeTaken":"0 min, 0
            sec","stepMessage":"","summaryMessage":"","errorMessage":"","progress":1.0,"message":"{\"success\":\"0001462834403827-242ac112b-0001,0001462834404266-242ac112b-0001,0001462834404676-242ac112b-0001,0001462858845709-242ac112b-0001,0001462902555866-242ac1130-0001\"}","stepLabel":"","stepMessages":[]}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/executions/{executionId}/customField:
    put:
      tags:
        - Execution
      summary: Update Execution custom field value
      description: |-
        Updates the execution custom field value 
         <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001462834520641-242ac112b-0001&quot;,&quot;0001462834520819-242ac112b-0001&quot;,&quot;0001462834521014-242ac112b-0001&quot;]</td> </tr> <tr> <td>status</td> <td>Integer</td> <td>1</td> </tr> <tr> <td>clearDefectMappingFlag</td> <td>Boolean</td> <td>false</td> </tr> <tr> <td>testStepStatusChangeFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>stepStatus</td> <td>Integer</td> <td>-1</td> </tr> </tbody></table>
      parameters:
        - name: executionId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: request
          in: query
          description: '{"customFieldId":"0001519026223763-28f8926f67-0001","value1":{"value":"value"}}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: '{"customFieldId":"0001519026223763-28f8926f67-0001","value1":{"value":"value"}}'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/cycle/{cycleId}/move:
    put:
      tags:
        - Cycle
      summary: Move Cycle
      description: Moves the specified Cycle across project and versions .
      parameters:
        - name: cycleId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: request
          in: query
          description: '{"projectId":10004,"versionId":"10002","cycleId":null}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: |-
            {"timeTaken": "0 min, 1 sec",
                "stepMessage": "",
                "summaryMessage": "",
                "errorMessage": "",
                "progress": 1,
                "message": "zephyr.move.cycle.across.versions.successful",
                "stepLabel": "",
                "stepMessages": []
            }
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      tags:
        - Cycle
      summary: Move Execution by Cycle
      description: |-
        Move execution by cycle 
         <table width="100%" border="1"> <tbody> <tr> <td colspan="3"> <b>JSON Object Details</b> </td> </tr> <tr> <td><b>Parameters</b></td> <td><b>Type</b></td> <td><b>Value</b></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001456662091782-5a6ee13a3f6b-0001&quot;,&quot;0001456662092010-5a6ee13a3f6b-0001&quot;]</td> </tr> <tr> <td>projectId</td> <td>Integer</td> <td>10000</td> </tr> <tr> <td>versionId</td> <td>Integer</td> <td>-1</td> </tr> <tr> <td>clearDefectMappingFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>clearStatusFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>clearAssignmentsFlag</td> <td>Boolean</td> <td>true</td> </tr> </tbody></table> 
      parameters:
        - name: cycleId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: request
          in: query
          description: '{"executions":["0001456662091782-5a6ee13a3f6b-0001","0001456662092010-5a6ee13a3f6b-0001"],"projectId":10000,"versionId":-1,"clearDefectMappingFlag":true,"clearStatusFlag":true,"clearAssignmentsFlag":true}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: 0001456662339082-5a6ee13a3f6b-0001
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/cycle/{cycleId}/copy:
    post:
      tags:
        - Cycle
      summary: Copy Execution to Cycle
      description: |-
        Copy Execution to Cycle 
         <table border="1" width="100%"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>["0001456662091782-5a6ee13a3f6b-0001","0001456662092010-5a6ee13a3f6b-0001"]</td> </tr> <tr> <td>projectId</td> <td>Integer</td> <td>10000</td> </tr> <tr> <td>versionId</td> <td>Integer</td> <td>-1</td> </tr> <tr> <td>clearDefectMappingFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>clearStatusFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>clearAssignmentsFlag</td> <td>Boolean</td> <td>true</td> </tr> </tbody> </table> 
      parameters:
        - name: cycleId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: request
          in: query
          description: '{"executions":["0001479277915060-fa312653ffffd5ee-0001","0001479365053023-725f24aeffff8568-0001","0001479405945581-725f24aeffff8568-0001","0001479515644605-62ad9af21f8b-0001","0001479515645098-62ad9af21f8b-0001","0001479517127726-62ad9af21f8b-0001","0001479517128256-62ad9af21f8b-0001","0001479517128426-62ad9af21f8b-0001"],"projectId":10000,"versionId":-1,"clearDefectMappingFlag":true,"clearStatusFlag":true,"clearAssignmentsFlag":true}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: 0001456662339082-5a6ee13a3f6b-0001
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/cycle:
    post:
      tags:
        - Cycle
      summary: Creates new cycle
      description: >-
        Creates a Cycle from a JSON representation. 

        An Adhoc cycle is created by the system and any attempt to create it by
        a user will be rejected or ignored. 
         If no VersionId is passed in the request, it will be defaulted to an unscheduled version
         
         <table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td><td><strong>Required</strong></td>  </tr> <tr> <td>name</td> <td>String</td> <td>Test Cycle</td><td>Y</td></tr>  <tr> <td>build</td> <td>String</td> <td>build 1.0</td> <td>N</td></tr>  <tr> <td>environment</td> <td>String</td> <td>Bug Fix</td> <td>N</td></tr>  <tr> <td>description</td> <td>String</td> <td>This contains the zephyr tests for a version</td> <td>N</td> </tr> <tr> <td>startDate</td> <td>Date</td> <td>2016-01-13</td> <td>N</td></tr> <tr><td>endDate</td> <td>Date</td> <td>2016-01-21</td> <td>N</td> </tr> <tr> <td>projectId</td> <td>Integer</td> <td>10100</td> <td>Y</td></tr>  <tr> <td>versionId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> </tbody></table>
      parameters:
        - name: clonedCycleId
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: expand
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: request
          in: query
          description: >-
            {"name":"Test Cycle","build":"build 1.0","environment":"Bug
            Fix","description":"This contains the zephyr tests for a
            version","startDate":"2016-01-13","endDate":"2016-01-21","projectId":10100,"versionId":10000}
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"endDate":"2016-01-21","tenantKey":"amlyYTozNDBmMjc0ZS0wZTkxLTRmZTktYWZjNy05YzE5MmNlODk3YWY=","description":"This
            contains the zephyr tests for a
            version","cycleIndex":"0001458126076641-b82a729d7df-0001","projectCycleVersionIndex":"10100_10000","createdByDisplayName":{"defined":true,"empty":false,"orNull":"admin"},"sprintId":null,"environment":"Bug
            Fix","versionId":10000,"build":"build
            1.0","createdBy":"admin","name":"Test
            Cycle","modifiedBy":null,"id":"0001458126076641-b82a729d7df-0001","class":"com.thed.zephyr.connect.model.nosql.Cycle","projectId":10100,"startDate":"2016-01-13"}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/2.0/createCycle:
    post:
      tags:
        - Cycle
      summary: Creates new cycle
      description: >-
        Creates a Cycle from a JSON representation. 

        An Adhoc cycle is created by the system and any attempt to create it by
        a user will be rejected or ignored. 
         If no VersionId is passed in the request, it will be defaulted to an unscheduled version
         
         <table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td><td><strong>Required</strong></td>  </tr> <tr> <td>name</td> <td>String</td> <td>Test Cycle</td><td>Y</td></tr>  <tr> <td>build</td> <td>String</td> <td>build 1.0</td> <td>N</td></tr>  <tr> <td>environment</td> <td>String</td> <td>Bug Fix</td> <td>N</td></tr>  <tr> <td>description</td> <td>String</td> <td>This contains the zephyr tests for a version</td> <td>N</td> </tr> <tr> <td>startDate</td> <td>Date</td> <td>2016-01-13</td> <td>N</td></tr> <tr><td>endDate</td> <td>Date</td> <td>2016-01-21</td> <td>N</td> </tr> <tr> <td>projectId</td> <td>Integer</td> <td>10100</td> <td>Y</td></tr>  <tr> <td>versionId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> </tbody></table>
      parameters:
        - name: request
          in: query
          description: >-
            {"name":"Test Cycle","build":"build 1.0","environment":"Bug
            Fix","description":"This contains the zephyr tests for a
            version","startDate":"2016-01-13","endDate":"2016-01-21","projectId":10100,"versionId":10000}
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"endDate":"2016-01-21","tenantKey":"amlyYTozNDBmMjc0ZS0wZTkxLTRmZTktYWZjNy05YzE5MmNlODk3YWY=","description":"This
            contains the zephyr tests for a
            version","cycleIndex":"0001458126076641-b82a729d7df-0001","projectCycleVersionIndex":"10100_10000","createdByDisplayName":{"defined":true,"empty":false,"orNull":"admin"},"sprintId":null,"environment":"Bug
            Fix","versionId":10000,"build":"build
            1.0","createdBy":"admin","name":"Test
            Cycle","modifiedBy":null,"id":"0001458126076641-b82a729d7df-0001","class":"com.thed.zephyr.connect.model.nosql.Cycle","projectId":10100,"startDate":"2016-01-13"}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/cloneCycle:
    post:
      tags:
        - Cycle
      summary: Clones cycle
      description: >-
        Clones a Cycle from a JSON representation. 

        If no VersionId is passed in the request, it will be defaulted to an
        unscheduled version
         
         <table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td><td><strong>Required</strong></td>  </tr> <tr> <td>name</td> <td>String</td> <td>Test Cycle</td><td>Y</td></tr>  <tr> <td>build</td> <td>String</td> <td>build 1.0</td> <td>N</td></tr>  <tr> <td>environment</td> <td>String</td> <td>Bug Fix</td> <td>N</td></tr>  <tr> <td>description</td> <td>String</td> <td>This contains the zephyr tests for a version</td> <td>N</td> </tr> <tr> <td>startDate</td> <td>Date</td> <td>2016-01-13</td> <td>N</td></tr> <tr><td>endDate</td> <td>Date</td> <td>2016-01-21</td> <td>N</td> </tr> <tr> <td>projectId</td> <td>Integer</td> <td>10100</td> <td>Y</td></tr>  <tr> <td>versionId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> </tbody></table>
      parameters:
        - name: clonedCycleId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: request
          in: query
          description: >-
            {"name":"Test Cycle","build":"build 1.0","environment":"Bug
            Fix","description":"This contains the zephyr tests for a
            version","startDate":"2016-01-13","endDate":"2016-01-21","projectId":10100,"versionId":10000}
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"endDate":"2016-01-21","tenantKey":"amlyYTozNDBmMjc0ZS0wZTkxLTRmZTktYWZjNy05YzE5MmNlODk3YWY=","description":"This
            contains the zephyr tests for a
            version","cycleIndex":"0001458126076641-b82a729d7df-0001","projectCycleVersionIndex":"10100_10000","createdByDisplayName":{"defined":true,"empty":false,"orNull":"admin"},"sprintId":null,"environment":"Bug
            Fix","versionId":10000,"build":"build
            1.0","createdBy":"admin","name":"Test
            Cycle","modifiedBy":null,"id":"0001458126076641-b82a729d7df-0001","class":"com.thed.zephyr.connect.model.nosql.Cycle","projectId":10100,"startDate":"2016-01-13"}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/2.0/cycle:
    post:
      tags:
        - Cycle
      summary: Creates new cycle by execution
      description: >-
        Creates a Cycle from a JSON representation. 

        An Adhoc cycle is created by the system and any attempt to create it by
        a user will be rejected or ignored. 
         If no VersionId is passed in the request, it will be defaulted to an unscheduled version
         
         <table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td><td><strong>Required</strong></td>  </tr> <tr> <td>name</td> <td>String</td> <td>Test Cycle</td><td>Y</td></tr>  <tr> <td>build</td> <td>String</td> <td>build 1.0</td> <td>N</td></tr>  <tr> <td>environment</td> <td>String</td> <td>Bug Fix</td> <td>N</td></tr>  <tr> <td>description</td> <td>String</td> <td>This contains the zephyr tests for a version</td> <td>N</td> </tr> <tr> <td>startDate</td> <td>Date</td> <td>2016-01-13</td> <td>N</td></tr> <tr><td>endDate</td> <td>Date</td> <td>2016-01-21</td> <td>N</td> </tr> <tr> <td>projectId</td> <td>Integer</td> <td>10100</td> <td>Y</td></tr>  <tr> <td>versionId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> </tbody></table>
      parameters:
        - name: clonedCycleId
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: expand
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: request
          in: query
          description: >-
            {"name":"Test Cycle","build":"build 1.0","environment":"Bug
            Fix","description":"This contains the zephyr tests for a
            version","startDate":"2016-01-13","endDate":"2016-01-21","projectId":10100,"versionId":10000}
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"endDate":"2016-01-21","tenantKey":"amlyYTozNDBmMjc0ZS0wZTkxLTRmZTktYWZjNy05YzE5MmNlODk3YWY=","description":"This
            contains the zephyr tests for a
            version","cycleIndex":"0001458126076641-b82a729d7df-0001","projectCycleVersionIndex":"10100_10000","createdByDisplayName":{"defined":true,"empty":false,"orNull":"admin"},"sprintId":null,"environment":"Bug
            Fix","versionId":10000,"build":"build
            1.0","createdBy":"admin","name":"Test
            Cycle","modifiedBy":null,"id":"0001458126076641-b82a729d7df-0001","class":"com.thed.zephyr.connect.model.nosql.Cycle","projectId":10100,"startDate":"2016-01-13"}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/cycle/{cycleId}:
    get:
      tags:
        - Cycle
      summary: 'Get Cycle '
      description: |-
        Returns a full representation of the Cycle for the given version.
         An Cycle JSON consists of the cycle details and an expandos driven executionSummaries for the cycle.
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: versionId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: cycleId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: expand
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: request(Query Parameters)
          in: query
          description: '{"projectId":10202,"versionId":"-1,10308","expand":"executionSummaries"}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"endDate":"2016-01-21","tenantKey":"amlyYTozNDBmMjc0ZS0wZTkxLTRmZTktYWZjNy05YzE5MmNlODk3YWY=","description":"This
            contains the zephyr tests for a
            version","cycleIndex":"0001458126076641-b82a729d7df-0001","projectCycleVersionIndex":"10100_10000","createdByDisplayName":{"defined":true,"empty":false,"orNull":"admin"},"sprintId":null,"environment":"Bug
            Fix","versionId":10000,"build":"build
            1.0","createdBy":"admin","name":"Test
            Cycle","modifiedBy":null,"id":"0001458126076641-b82a729d7df-0001","class":"com.thed.zephyr.connect.model.nosql.Cycle","projectId":10100,"startDate":"2016-01-13"}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      tags:
        - Cycle
      summary: Update Cycle
      description: >-
        Updates the specified Cycle from a JSON representation.<table
        width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON
        Object Details</strong></td> </tr> <tr>
        <td><strong>Parameter</strong></td> <td><strong>Type</strong></td>
        <td><strong>Value</strong></td><td><strong>Required</strong></td> </tr>
        <tr><td>name</td> <td>String</td> <td>Update Cycle</td><td>Y</td></tr>
        <tr> <td>build</td> <td>String</td> <td>build 2.0</td><td>N</td></tr>
        <tr> <td>environment</td> <td>String</td> <td>Bug Fix</td><td>N</td>
        </tr> <tr><td>description</td> <td>String</td> <td>This contains the
        zephyr tests for a version</td><td>N</td></tr> <tr> <td>startDate</td>
        <td>Date</td> <td>2016-01-13</td><td>N</td></tr> <tr><td>endDate</td>
        <td>Date</td> <td>2016-01-21</td><td>N</td></tr> <tr> <td>projectId</td>
        <td>Integer</td> <td>10100</td><td>Y</td> </tr> <tr> <td>versionId</td>
        <td>Integer</td> <td>10000</td> <td>Y</td></tr> </tbody></table>
      parameters:
        - name: cycleId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: request
          in: query
          description: >-
            {"name":"Update Cycle","build":"build 2.0","environment":"Bug
            Fix","description":"This contains the zephyr tests for a
            version","startDate":"2016-01-13","endDate":"2016-01-21","projectId":10100,"versionId":10000}
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"endDate":"2016-01-21","tenantKey":"amlyYTozNDBmMjc0ZS0wZTkxLTRmZTktYWZjNy05YzE5MmNlODk3YWY=","description":"This
            contains the zephyr tests for a
            version","cycleIndex":"0001458126076641-b82a729d7df-0001","projectCycleVersionIndex":"10100_10000","createdByDisplayName":{"defined":true,"empty":false,"orNull":"admin"},"sprintId":null,"environment":"Bug
            Fix","versionId":10000,"build":"build
            2.0","createdBy":"admin","name":"Update
            Cycle","modifiedBy":"admin","id":"0001458126076641-b82a729d7df-0001","class":"com.thed.zephyr.connect.model.nosql.Cycle","projectId":10100,"startDate":"2016-01-13"}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    delete:
      tags:
        - Cycle
      summary: 'Delete Cycle '
      description: >-
        Deletes the Cycle. All the entities including executions will be deleted
        along with the cycle
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: versionId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: cycleId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: request
          in: query
          description: '{"projectId":10202,"versionId":"-1,10308","cycleId":"0001479126116358-242ac112-0001"}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: '{cycle 0001479126116358-242ac112-0001 successfully deleted}'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/cycles/search:
    get:
      tags:
        - Cycle
      summary: 'Get List of Cycles '
      description: >-
        Returns a list of cycle(s) for a given project and version along with
        grouped executions.
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: versionId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: expand
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: request(Query Parameters)
          in: query
          description: '{"projectId":10202,"versionId":"-1,10308","expand":"executionSummaries"}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            [{"offset":"0","endDate":"2016-02-29","tenantKey":"amlyYTo2NGU4MTI4My1kMTI4LTQ1MGMtYjg4MS01ZjFkY2ZhM2MzZDI=","totalExecutions":5,"description":null,"cycleIndex":"-1","totalExecuted":5,"projectCycleVersionIndex":"10000_-1","sprintId":null,"environment":null,"versionId":-1,"build":null,"createdBy":"admin","name":"Ad
            hoc","action":"expand","modifiedBy":null,"id":"-1","class":"com.thed.zephyr.connect.vo.GroupedExecutionSummary","projectId":10000,"startDate":null,"executionSummaries":[{"count":5,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The
            test has not yet been
            executed.","executionStatusColor":"#A0A0A0","percentage":null},{"count":0,"executionStatusKey":1,"executionStatusName":"PASS","executionStatusDescription":"Test
            was executed and passed
            successfully.","executionStatusColor":"#75B000","percentage":null},{"count":0,"executionStatusKey":2,"executionStatusName":"FAIL","executionStatusDescription":"Test
            was executed and
            failed.","executionStatusColor":"#CC3300","percentage":null},{"count":0,"executionStatusKey":3,"executionStatusName":"WIP","executionStatusDescription":"Test
            execution is a
            work-in-progress.","executionStatusColor":"#F2B000","percentage":null},{"count":0,"executionStatusKey":4,"executionStatusName":"BLOCKED","executionStatusDescription":"The
            test execution of this test was blocked for some
            reason.","executionStatusColor":"#6693B0","percentage":null}]},{"offset":"0","endDate":null,"tenantKey":"amlyYTo2NGU4MTI4My1kMTI4LTQ1MGMtYjg4MS01ZjFkY2ZhM2MzZDI=","totalExecutions":5,"description":"","cycleIndex":"0001456223058152-242ac112-0001","totalExecuted":5,"projectCycleVersionIndex":"10000_-1","createdByDisplayName":{"defined":true,"orNull":"soumyaranjan
            swain
            [Administrator]","empty":false},"sprintId":null,"environment":"","versionId":-1,"build":"","createdBy":"admin","name":"c1","action":"expand","modifiedBy":null,"id":"0001456223058152-242ac112-0001","class":"com.thed.zephyr.connect.vo.GroupedExecutionSummary","projectId":10000,"startDate":null,"executionSummaries":[{"count":4,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The
            test has not yet been
            executed.","executionStatusColor":"#A0A0A0","percentage":null},{"count":0,"executionStatusKey":1,"executionStatusName":"PASS","executionStatusDescription":"Test
            was executed and passed
            successfully.","executionStatusColor":"#75B000","percentage":null},{"count":0,"executionStatusKey":2,"executionStatusName":"FAIL","executionStatusDescription":"Test
            was executed and
            failed.","executionStatusColor":"#CC3300","percentage":null},{"count":1,"executionStatusKey":3,"executionStatusName":"WIP","executionStatusDescription":"Test
            execution is a
            work-in-progress.","executionStatusColor":"#F2B000","percentage":null},{"count":0,"executionStatusKey":4,"executionStatusName":"BLOCKED","executionStatusDescription":"The
            test execution of this test was blocked for some
            reason.","executionStatusColor":"#6693B0","percentage":null}]},{"offset":"0","endDate":"2016-02-29","tenantKey":"amlyYTo2NGU4MTI4My1kMTI4LTQ1MGMtYjg4MS01ZjFkY2ZhM2MzZDI=","totalExecutions":0,"description":"description","cycleIndex":"0001456611798248-242ac112-0001","totalExecuted":0,"projectCycleVersionIndex":"10000_-1","createdByDisplayName":{"defined":true,"orNull":"soumyaranjan
            swain
            [Administrator]","empty":false},"sprintId":null,"environment":"env4","versionId":-1,"build":"3","createdBy":"admin","name":"sample
            cycle
            updated","action":"expand","modifiedBy":"admin","id":"0001456611798248-242ac112-0001","class":"com.thed.zephyr.connect.vo.GroupedExecutionSummary","projectId":10000,"startDate":"2016-02-25","executionSummaries":[{"count":0,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The
            test has not yet been
            executed.","executionStatusColor":"#A0A0A0","percentage":null},{"count":0,"executionStatusKey":1,"executionStatusName":"PASS","executionStatusDescription":"Test
            was executed and passed
            successfully.","executionStatusColor":"#75B000","percentage":null},{"count":0,"executionStatusKey":2,"executionStatusName":"FAIL","executionStatusDescription":"Test
            was executed and
            failed.","executionStatusColor":"#CC3300","percentage":null},{"count":0,"executionStatusKey":3,"executionStatusName":"WIP","executionStatusDescription":"Test
            execution is a
            work-in-progress.","executionStatusColor":"#F2B000","percentage":null},{"count":0,"executionStatusKey":4,"executionStatusName":"BLOCKED","executionStatusDescription":"The
            test execution of this test was blocked for some
            reason.","executionStatusColor":"#6693B0","percentage":null}]}]
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/cycle/:cycleId/export:
    get:
      tags:
        - Cycle
      summary: 'Export Cycle '
      description: |-
        Export's Cycle for the given Project/Version/Cycle in HTML/CSV/XML. 
         The response of the API is a fileName and users will need to call downloadFile API with the fileName to get the file
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/cycle/export/download/:fileName:
    get:
      tags:
        - Cycle
      summary: Export cycle download
      description: Cycle export file to download
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/cycle/reorder:
    post:
      tags:
        - Cycle
      summary: Re-Order Cycles
      description: Reorder cycles within same version.
      parameters:
        - name: request
          in: query
          description: '{"dropPosition":3,"projectId":10004,"versionId":10002,"cycleId":"c6f86435-ffee-4112-8633-dd78539d1ae6"}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: |-
            {
                "timeTaken": "0 min, 0 sec",
                "stepMessage": "",
                "summaryMessage": "",
                "errorMessage": "",
                "progress": 1,
                "message": "[{\"id\":\"-1\",\"name\":\"Ad hoc\",\"versionId\":10002,\"projectId\":10004,\"modifiedBy\":\"5d2ec95fa666040c85096d53\",\"modifiedByAccountId\":\"5d2ec95fa666040c85096d53\",\"createdBy\":\"5d2ec95fa666040c85096d53\",\"createdByAccountId\":\"5d2ec95fa666040c85096d53\",\"creationDate\":\"09-01-2019 06:51:10\",\"orderId\":0,\"projectCycleVersionIndex\":\"10004_10002\",\"cycleIndex\":\"-1\"},{\"id\":\"330d5568-2ee8-4025-8aea-bb5c9c5db744\",\"name\":\"c-5zz\",\"environment\":\"\",\"build\":\"\",\"versionId\":10002,\"projectId\":10004,\"modifiedBy\":\"5d2ec95fa666040c85096d53\",\"modifiedByAccountId\":\"5d2ec95fa666040c85096d53\",\"description\":\"\",\"creationDate\":\"09-05-2019 10:24:36\",\"orderId\":1,\"projectCycleVersionIndex\":\"10004_10002\",\"cycleIndex\":\"330d5568-2ee8-4025-8aea-bb5c9c5db744\"},{\"id\":\"541e94cf-df8b-4c71-b991-fe6cea216897\",\"name\":\"c-1zz\",\"environment\":\"\",\"build\":\"\",\"versionId\":10002,\"projectId\":10004,\"modifiedBy\":\"5d2ec95fa666040c85096d53\",\"modifiedByAccountId\":\"5d2ec95fa666040c85096d53\",\"description\":\"\",\"creationDate\":\"09-09-2019 07:09:17\",\"orderId\":6,\"projectCycleVersionIndex\":\"10004_10002\",\"cycleIndex\":\"541e94cf-df8b-4c71-b991-fe6cea216897\"},{\"id\":\"c6f86435-ffee-4112-8633-dd78539d1ae6\",\"name\":\"cbvbdv\",\"environment\":\"\",\"build\":\"\",\"versionId\":10002,\"projectId\":10004,\"modifiedBy\":\"5d2ec95fa666040c85096d53\",\"modifiedByAccountId\":\"5d2ec95fa666040c85096d53\",\"description\":\"\",\"creationDate\":\"09-06-2019 09:20:07\",\"orderId\":2,\"projectCycleVersionIndex\":\"10004_10002\",\"cycleIndex\":\"c6f86435-ffee-4112-8633-dd78539d1ae6\"},{\"id\":\"deebcbeb-d063-4a36-a3fc-37cda454ee21\",\"name\":\"c-abcd\",\"environment\":\"\",\"build\":\"\",\"versionId\":10002,\"projectId\":10004,\"modifiedBy\":\"5d2ec95fa666040c85096d53\",\"modifiedByAccountId\":\"5d2ec95fa666040c85096d53\",\"description\":\"\",\"creationDate\":\"09-09-2019 07:16:21\",\"orderId\":3,\"projectCycleVersionIndex\":\"10004_10002\",\"cycleIndex\":\"deebcbeb-d063-4a36-a3fc-37cda454ee21\"},{\"id\":\"3f3281e3-6599-462f-b9af-49d69e89270d\",\"name\":\"c-3aa\",\"environment\":\"\",\"build\":\"\",\"versionId\":10002,\"projectId\":10004,\"modifiedBy\":\"5d2ec95fa666040c85096d53\",\"modifiedByAccountId\":\"5d2ec95fa666040c85096d53\",\"description\":\"\",\"creationDate\":\"09-09-2019 07:43:31\",\"orderId\":4,\"projectCycleVersionIndex\":\"10004_10002\",\"cycleIndex\":\"3f3281e3-6599-462f-b9af-49d69e89270d\"},{\"id\":\"46e79fe8-3eb3-4c87-8a05-c534d3e04eda\",\"name\":\"c-2z\",\"environment\":\"\",\"build\":\"\",\"versionId\":10002,\"projectId\":10004,\"modifiedBy\":\"5d2ec95fa666040c85096d53\",\"modifiedByAccountId\":\"5d2ec95fa666040c85096d53\",\"description\":\"\",\"creationDate\":\"09-09-2019 08:29:36\",\"orderId\":5,\"projectCycleVersionIndex\":\"10004_10002\",\"cycleIndex\":\"46e79fe8-3eb3-4c87-8a05-c534d3e04eda\"},{\"id\":\"54e948a1-e76f-4aa9-8dee-f6a650f6da1d\",\"name\":\"c-3zzy\",\"environment\":\"\",\"build\":\"\",\"versionId\":10002,\"projectId\":10004,\"modifiedBy\":\"5d2ec95fa666040c85096d53\",\"modifiedByAccountId\":\"5d2ec95fa666040c85096d53\",\"description\":\"\",\"creationDate\":\"09-09-2019 10:07:42\",\"orderId\":7,\"projectCycleVersionIndex\":\"10004_10002\",\"cycleIndex\":\"54e948a1-e76f-4aa9-8dee-f6a650f6da1d\"}]",
                "stepLabel": "",
                "stepMessages": []
            }
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/cyclesummary/search:
    get:
      tags:
        - Cycle
      summary: Cycle Summary Search Results
      description: ''
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: searchQuery
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: request
          in: query
          description: ''
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: '{"folders":[{"id":"7874526d-2449-4223-9d7e-36e5a57b4690","name":"OIuuwwOI","description":"","versionId":10014,"projectId":10004,"cycleId":"3879f6fa-25d3-4013-af37-1da5babfb616","createdBy":"5d2ec95fa666040c85096d53","createdByAccountId":"5d2ec95fa666040c85096d53","createdTime":1576324129507,"orderId":1},{"id":"c2b01555-f810-4965-9c90-70e72338d2f9","name":"f1hhOiuu","description":"","versionId":-1,"projectId":10004,"cycleId":"ade5dc35-e950-495d-b7a2-3ce921636cb4","createdBy":"5d2ec95fa666040c85096d53","createdByAccountId":"5d2ec95fa666040c85096d53","modifiedBy":"5d2ec95fa666040c85096d53","modifiedByAccountId":"5d2ec95fa666040c85096d53","createdTime":1569492713648,"modifiedTime":1576324098588,"orderId":1}],"versions":[-1,10014,10015],"cycles":[{"id":"5fa14e22-0a87-4157-a8c4-3f2914a63fbe","name":"SNOI1","versionId":-1,"projectId":10004,"modifiedBy":"5d2ec95fa666040c85096d53","modifiedByAccountId":"5d2ec95fa666040c85096d53","createdBy":"5d2ec95fa666040c85096d53","createdByAccountId":"5d2ec95fa666040c85096d53","creationDate":1569841315995,"orderId":3,"projectCycleVersionIndex":"10004_-1","cycleIndex":"5fa14e22-0a87-4157-a8c4-3f2914a63fbe"},{"id":"ade5dc35-e950-495d-b7a2-3ce921636cb4","name":"SNOI","versionId":-1,"projectId":10004,"modifiedBy":"5d2ec95fa666040c85096d53","modifiedByAccountId":"5d2ec95fa666040c85096d53","createdBy":"5d2ec95fa666040c85096d53","createdByAccountId":"5d2ec95fa666040c85096d53","creationDate":1569492713585,"orderId":2,"projectCycleVersionIndex":"10004_-1","cycleIndex":"ade5dc35-e950-495d-b7a2-3ce921636cb4"},{"id":"3879f6fa-25d3-4013-af37-1da5babfb616","name":"ggOIhh","environment":"","build":"","versionId":10014,"projectId":10004,"createdBy":"5d2ec95fa666040c85096d53","createdByAccountId":"5d2ec95fa666040c85096d53","description":"","creationDate":1576324086724,"orderId":1,"projectCycleVersionIndex":"10004_10014","cycleIndex":"3879f6fa-25d3-4013-af37-1da5babfb616"}]}'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/2.0/cyclesummary/search:
    get:
      tags:
        - Cycle
      summary: Cycle Summary Search Results
      description: ''
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: searchQuery
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: request
          in: query
          description: ''
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: '{"folders":[{"id":"7874526d-2449-4223-9d7e-36e5a57b4690","name":"OIuuwwOI","description":"","versionId":10014,"projectId":10004,"cycleId":"3879f6fa-25d3-4013-af37-1da5babfb616","createdBy":"5d2ec95fa666040c85096d53","createdByAccountId":"5d2ec95fa666040c85096d53","createdTime":1576324129507,"orderId":1},{"id":"c2b01555-f810-4965-9c90-70e72338d2f9","name":"f1hhOiuu","description":"","versionId":-1,"projectId":10004,"cycleId":"ade5dc35-e950-495d-b7a2-3ce921636cb4","createdBy":"5d2ec95fa666040c85096d53","createdByAccountId":"5d2ec95fa666040c85096d53","modifiedBy":"5d2ec95fa666040c85096d53","modifiedByAccountId":"5d2ec95fa666040c85096d53","createdTime":1569492713648,"modifiedTime":1576324098588,"orderId":1}],"versions":[-1,10014,10015],"cycles":[{"id":"5fa14e22-0a87-4157-a8c4-3f2914a63fbe","name":"SNOI1","versionId":-1,"projectId":10004,"modifiedBy":"5d2ec95fa666040c85096d53","modifiedByAccountId":"5d2ec95fa666040c85096d53","createdBy":"5d2ec95fa666040c85096d53","createdByAccountId":"5d2ec95fa666040c85096d53","creationDate":1569841315995,"orderId":3,"projectCycleVersionIndex":"10004_-1","cycleIndex":"5fa14e22-0a87-4157-a8c4-3f2914a63fbe"},{"id":"ade5dc35-e950-495d-b7a2-3ce921636cb4","name":"SNOI","versionId":-1,"projectId":10004,"modifiedBy":"5d2ec95fa666040c85096d53","modifiedByAccountId":"5d2ec95fa666040c85096d53","createdBy":"5d2ec95fa666040c85096d53","createdByAccountId":"5d2ec95fa666040c85096d53","creationDate":1569492713585,"orderId":2,"projectCycleVersionIndex":"10004_-1","cycleIndex":"ade5dc35-e950-495d-b7a2-3ce921636cb4"},{"id":"3879f6fa-25d3-4013-af37-1da5babfb616","name":"ggOIhh","environment":"","build":"","versionId":10014,"projectId":10004,"createdBy":"5d2ec95fa666040c85096d53","createdByAccountId":"5d2ec95fa666040c85096d53","description":"","creationDate":1576324086724,"orderId":1,"projectCycleVersionIndex":"10004_10014","cycleIndex":"3879f6fa-25d3-4013-af37-1da5babfb616"}]}'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/3.0/cyclesummary/search:
    get:
      tags:
        - Cycle
      summary: 'Get List of Cycles And Folders Summary with Execution Summary '
      description: >-
        Returns a list of folder(s) for a given project, version and cycle along
        with grouped executions.
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: versionId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: cycleId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: expand
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: request(Query Parameters)
          in: query
          description: '{"projectId":10000,"versionId":"10001,10002",,"cycleId":"0001500456316270-985aebc9ffffb0c1-0001""expand":"executionSummaries"}'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            [{"offset":"0","endDate":"2016-02-29","tenantKey":"amlyYTo2NGU4MTI4My1kMTI4LTQ1MGMtYjg4MS01ZjFkY2ZhM2MzZDI=","totalExecutions":5,"description":null,"cycleIndex":"-1","totalExecuted":5,"projectCycleVersionIndex":"10000_-1","sprintId":null,"environment":null,"versionId":-1,"build":null,"createdBy":"admin","name":"Ad
            hoc","action":"expand","modifiedBy":null,"id":"-1","class":"com.thed.zephyr.connect.vo.GroupedExecutionSummary","projectId":10000,"startDate":null,"executionSummaries":[{"count":5,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The
            test has not yet been
            executed.","executionStatusColor":"#A0A0A0","percentage":null},{"count":0,"executionStatusKey":1,"executionStatusName":"PASS","executionStatusDescription":"Test
            was executed and passed
            successfully.","executionStatusColor":"#75B000","percentage":null},{"count":0,"executionStatusKey":2,"executionStatusName":"FAIL","executionStatusDescription":"Test
            was executed and
            failed.","executionStatusColor":"#CC3300","percentage":null},{"count":0,"executionStatusKey":3,"executionStatusName":"WIP","executionStatusDescription":"Test
            execution is a
            work-in-progress.","executionStatusColor":"#F2B000","percentage":null},{"count":0,"executionStatusKey":4,"executionStatusName":"BLOCKED","executionStatusDescription":"The
            test execution of this test was blocked for some
            reason.","executionStatusColor":"#6693B0","percentage":null}]},{"offset":"0","endDate":null,"tenantKey":"amlyYTo2NGU4MTI4My1kMTI4LTQ1MGMtYjg4MS01ZjFkY2ZhM2MzZDI=","totalExecutions":5,"description":"","cycleIndex":"0001456223058152-242ac112-0001","totalExecuted":5,"projectCycleVersionIndex":"10000_-1","createdByDisplayName":{"defined":true,"orNull":"soumyaranjan
            swain
            [Administrator]","empty":false},"sprintId":null,"environment":"","versionId":-1,"build":"","createdBy":"admin","name":"c1","action":"expand","modifiedBy":null,"id":"0001456223058152-242ac112-0001","class":"com.thed.zephyr.connect.vo.GroupedExecutionSummary","projectId":10000,"startDate":null,"executionSummaries":[{"count":4,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The
            test has not yet been
            executed.","executionStatusColor":"#A0A0A0","percentage":null},{"count":0,"executionStatusKey":1,"executionStatusName":"PASS","executionStatusDescription":"Test
            was executed and passed
            successfully.","executionStatusColor":"#75B000","percentage":null},{"count":0,"executionStatusKey":2,"executionStatusName":"FAIL","executionStatusDescription":"Test
            was executed and
            failed.","executionStatusColor":"#CC3300","percentage":null},{"count":1,"executionStatusKey":3,"executionStatusName":"WIP","executionStatusDescription":"Test
            execution is a
            work-in-progress.","executionStatusColor":"#F2B000","percentage":null},{"count":0,"executionStatusKey":4,"executionStatusName":"BLOCKED","executionStatusDescription":"The
            test execution of this test was blocked for some
            reason.","executionStatusColor":"#6693B0","percentage":null}]},{"offset":"0","endDate":"2016-02-29","tenantKey":"amlyYTo2NGU4MTI4My1kMTI4LTQ1MGMtYjg4MS01ZjFkY2ZhM2MzZDI=","totalExecutions":0,"description":"description","cycleIndex":"0001456611798248-242ac112-0001","totalExecuted":0,"projectCycleVersionIndex":"10000_-1","createdByDisplayName":{"defined":true,"orNull":"soumyaranjan
            swain
            [Administrator]","empty":false},"sprintId":null,"environment":"env4","versionId":-1,"build":"3","createdBy":"admin","name":"sample
            cycle
            updated","action":"expand","modifiedBy":"admin","id":"0001456611798248-242ac112-0001","class":"com.thed.zephyr.connect.vo.GroupedExecutionSummary","projectId":10000,"startDate":"2016-02-25","executionSummaries":[{"count":0,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The
            test has not yet been
            executed.","executionStatusColor":"#A0A0A0","percentage":null},{"count":0,"executionStatusKey":1,"executionStatusName":"PASS","executionStatusDescription":"Test
            was executed and passed
            successfully.","executionStatusColor":"#75B000","percentage":null},{"count":0,"executionStatusKey":2,"executionStatusName":"FAIL","executionStatusDescription":"Test
            was executed and
            failed.","executionStatusColor":"#CC3300","percentage":null},{"count":0,"executionStatusKey":3,"executionStatusName":"WIP","executionStatusDescription":"Test
            execution is a
            work-in-progress.","executionStatusColor":"#F2B000","percentage":null},{"count":0,"executionStatusKey":4,"executionStatusName":"BLOCKED","executionStatusDescription":"The
            test execution of this test was blocked for some
            reason.","executionStatusColor":"#6693B0","percentage":null}]}]
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/teststep/statuses:
    get:
      tags:
        - TestStep
      summary: 'Get all TestStep statuses '
      description: Get List of all statuses related to Test Steps.
      parameters:
        - name: response
          in: query
          description: >-
            [{"name":"UNEXECUTED","id":-1,"description":"The test has not yet
            been
            executed.","color":"#A0A0A0","type":0},{"name":"PASS","id":1,"description":"Test
            was executed and passed
            successfully.","color":"#75B000","type":0},{"name":"FAIL","id":2,"description":"Test
            was executed and
            failed.","color":"#CC3300","type":0},{"name":"WIP","id":3,"description":"Test
            execution is a
            work-in-progress.","color":"#F2B000","type":0},{"name":"BLOCKED","id":4,"description":"The
            test execution of this test was blocked for some
            reason.","color":"#6693B0","type":0}]
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/teststep/{issueId}:
    get:
      tags:
        - TestStep
      summary: Get all TestSteps
      description: ' Get full representation of TestSteps for the given issueId and projectId '
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: issueId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
        - name: response
          in: query
          description: >-
            [{"id":"0001479232086830-fa312653ffffd5ee-0001","orderId":1,"issueId":10200,"step":"Sample
            Step","data":"Sample Step Data","result":"Sample Expected
            Result","createdBy":"admin","modifiedBy":"admin","createdOn":1479232086830,"lastModifiedOn":1479232292243}]
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    post:
      tags:
        - TestStep
      summary: 'Create new TestStep '
      description: ' Create a TestStep from a JSON representation. <br />The TestStep can either be created by setting explicit the field value(s). <table> <thead> <tr> <th>Parameter</th><th>Type</th><th>Value</th><th>Required</th> </tr> </thead><tbody><tr><td>step</td><td>String</td><td>Sample Test Step</td><td>N</td></tr><tr><td>data</td><td>String</td><td>Sample Test Data</td><td>N</td></tr><tr><td>result</td><td>String</td><td>Sample Expected Result</td><td>N</td></tr></tbody></table> '
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: issueId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
        - name: request
          in: query
          description: >-
            {"step":"Sample Test Step","data":"Sample Test
            Data","result":"Sample Expected Result"}
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: '{"id":"0001479232750769-fa312653ffffd5ee-0001","orderId":2,"issueId":10200,"step":"Step","data":"Data","result":"Result","createdBy":"admin","createdOn":1479232750770,"lastModifiedOn":1479232750770}'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /public/rest/api/1.0/teststep/{issueId}/{id}:
    get:
      tags:
        - TestStep
      summary: 'Get TestStep '
      description: ' Get a full representation of TestStep for the given testStepId '
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: issueId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
        - name: response
          in: query
          description: '{"id":"0001479232750769-fa312653ffffd5ee-0001","orderId":1,"issueId":10200,"step":"Step","data":"Data","result":"Result","createdBy":"admin","modifiedBy":"admin","createdOn":1479232750770,"lastModifiedOn":1479232750770}'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    put:
      tags:
        - TestStep
      summary: 'Update TestStep '
      description: >2-
         Update a TestStep from a JSON representation. 
        The TestStep can either be updated by setting explicit the field
        value(s) or by using an operation to change the field value. <table>
        <thead> <tr>
        <th>Parameter</th><th>Type</th><th>Value</th><th>Required</th> </tr>
        </thead><tbody><tr><td>id</td><td>String</td><td>0001481146115453-3a0480a3ffffc384-0001</td><td>Y</td></tr><tr><td>step</td><td>String</td><td>Sample
        Test Step</td><td>N</td></tr><tr><td>data</td><td>String</td><td>Sample
        Test
        Data</td><td>N</td></tr><tr><td>result</td><td>String</td><td>Sample
        Expected Result</td><td>N</td></tr></tbody></table>
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: issueId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: request
          in: query
          description: >-
            {"id":"0001481146115453-3a0480a3ffffc384-0001","step":"Sample Test
            Step","data":"Sample Test Data","result":"Expected Test Result"}
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response
          in: query
          description: >-
            {"id":"0001481146115453-3a0480a3ffffc384-0001","orderId":3,"issueId":10405,"step":"Sample
            Test Step","data":"Sample Test Data","result":"Expected Test
            Result","createdBy":"admin","modifiedBy":"admin","createdOn":1481146115453,"lastModifiedOn":1481146247126}
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Success
    delete:
      tags:
        - TestStep
      summary: 'Delete TestStep '
      description: ' Delete TestStep by testStepId '
      parameters:
        - name: projectId
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: integer
        - name: issueId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
        - name: id
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: response
          in: query
          description: >-
            [{"id":"0001479232086830-fa312653ffffd5ee-0001","orderId":1,"issueId":10200,"step":"Sample
            Step Updated","data":"Sample Step Data","result":"Sample Expected
            Result","createdBy":"admin","modifiedBy":"admin","createdOn":1479232086830,"lastModifiedOn":1479232538185},{"id":"0001479232750769-fa312653ffffd5ee-0001","orderId":2,"issueId":10200,"step":"Step","data":"Data","result":"Result","createdBy":"admin","modifiedBy":"admin","createdOn":1479232750770,"lastModifiedOn":1479232750770}]
          required: false
          style: form
          explode: true
          schema:
[...]
